@import "../../../assets/styles/colors.scss";
.footer-app {
  min-height: 42px;
  width: 100%;
  border-top: 1px solid $lines;
  text-align: center;
  margin-top: 40px;
  div {
    padding-top: 10px;
  }
}
