@font-face {
  font-family: "Light";
  src: local("Light"),
    url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Medium"),
    url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
