.body-app{        
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: calc(100vh - 140px);
    padding: 0px 30px;
    >div {
        width: 100%;
        max-width: 850px;
        margin-top: 24px;
    }
}